<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>production</string>
	<key>method</key>
	<string>app-store</string>  <!-- app-store, ad-hoc, enterprise, development -->
	<key>teamID</key>
	<string>98LKJHDJPG</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.txfb-ins.txfb1</key>
		<string>09feddb4-a420-42b1-9ee2-45dabb3a40fd</string>
	</dict>
</dict>
</plist>
