<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>teamID</key>
	<string>98LKJHDJPG</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.txfb-ins.txfb1</key>
		<string>d0dea712-dcd3-4d5f-b05e-46bf1422f5b7</string>
	</dict>
</dict>
</plist>
